@import url('https://fonts.googleapis.com/css?family=Sunshiney&display=swap');
@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao|Sunshiney|Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sunshiney|Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
}

p {
  font-size: 20px;
  line-height: 25px
}

h1 {
  color: black;
  font-size: 30px;
  line-height: 35px;
}

h2 {
  color: black;
  font-size: 25px;
  line-height: 30px;
}

a:hover {
  color: green;
  text-decoration: black;
}

.profile_image{
  padding : 40px 30px;
  margin: 30px 120px 30px 100px;
}

.topnav{
  background-image: linear-gradient(0deg, #13336d, #2359b9);
}

.white-card {
  text-align: left;
  padding : 40px 30px;
  margin: 30px 800px 30px 100px;
  background: white;
  border: black;
  border-radius: 8px;
}

.white-card-border {
  text-align: left;
  padding : 0px 30px;
  margin: 30px 800px 30px 100px;
  background: white;
  border-style: solid;
}

.contact{
  background-color: #6799ca;
  color: white;
}

.img-circle{
  border-radius: 50px;
}

.list-inline{
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  padding: 0px 20px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
