@import url('https://fonts.googleapis.com/css?family=Sunshiney&display=swap');
@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao|Sunshiney|Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sunshiney|Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
  background-color: white;
  font-family: 'Wallpoet', cursive;
  color: #eff0f2;
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards {
  margin: 110px;
}

p {
  font-size: 20px;
  line-height: 25px
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  color: #59499a;
  font-size: 30px;
  line-height: 35px;
}

.white-card1 h2 {
  font-family: 'Ubuntu', sans-serif;
  color: #59499a;
  font-size: 16px;
  line-height: 20px;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  color: #59499a;
  font-size: 25px;
  line-height: 30px;
}

a:hover {
  color: #59499a;
  text-decoration: black;
}

.white-card1 {
  background-image: url("./images/background_surf.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: 270px;
  /* text-align: center; */
  padding : 40px 30px;
  margin: 30px 150px;
  border: black;
  border-width: 30px;
  box-shadow: -8px 8px;
  border-radius: 20px;
}

.profile-pic {
  margin: 10px 50px;
}

.white-card2 {
  text-align: center;
  padding : 40px 30px;
  margin: 30px 150px;
  background: white;
  border: black;
  box-shadow: -8px 8px;
  border-radius: 20px;
}

.img-circle{
  border-radius: 50px;
}

.list-inline{
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
